@import "../../sass_config/mixin";

#looking-for {
  margin-top: 36px;
  margin-bottom: 60px;

  @include tablet {
    margin-top: 0;
    margin-bottom: 24px;
  }
}
#commitment {
  margin-bottom: 60px;

  @include tablet {
    margin-bottom: 24px;
  }
}
