@import "../../sass_config/color";
@import "../../sass_config/mixin";
@import "../../sass_config/keyFlames";

.main-profile {
  width: 600px;
  position: relative;
  margin: 0 auto;
  padding: 40.5px 0 200px;

  @include mobile {
    font-size: 0.5rem;
  }

  .pf-edited-indicator {
    position: absolute;
    top: 0;
    background-color: $color_primary;
    text-align: center;
    padding: 8px 0;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    animation: fadeOut 1.5s ease forwards 1s 1 normal;
  }

  .pf-container {
    display: flex;
    justify-content: left;
    width: 100%;
    padding: 40px 0;
    border-bottom: solid 1px #e5e5e5;

    @include mobile {
      width: 80%;
    }

    &:first-child {
      height: 200px;
    }

    .user-icon {
      width: 100px;
      height: 100px;
      margin-right: 20px;
      border-radius: 100px;
    }

    .pf-button {
      border: 1px solid #e5e5e5;
      outline: none;
      background: transparent;
      cursor: pointer;
      border-radius: 5px;
    }

    .pf-name {
      font-weight: 600;
      margin-bottom: 8px;
    }
    .pf-country {
      margin-bottom: 16px;
    }

    .pf-title {
      width: 160px;
      color: #999999;
    }

    .pf-data {
      width: 70%;
    }
  }
}
