@import "../../sass_config/color.scss";
@import "../../sass_config/mixin.scss";

.main-edit {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include mobile {
		font-size: 0.5rem;
	}

	.pf-container {
		display: flex;

		&:first-child {
			height: 200px;
			align-items: center;
		}

		.icon {
			width: 100px;
			height: 100px;
			margin-right: 20px;
		}

		.pf-button {
			border: 1px solid #e5e5e5;
			outline: none;
			background: transparent;
			cursor: pointer;
			border-radius: 5px;
		}

		.pf-name {
			font-weight: 600;
		}
	}

	.edit-container {
		width: 100%;
		margin-bottom: 30px;

		.input{
			width: 100%;
		}
	}

	.buttonContainer {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-bottom: 100px;

		.button {
			width: 214px;
			height: 54px;
			border-radius: 30px;
			background-color: $color_primary;
			color: #fff;
		}
	}
}
