@import "../../sass_config/color.scss";
@import "../../sass_config/mixin.scss";

.main-edit {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	// align-items: center;

	@include mobile {
		font-size: 0.5rem;
	}

	.edit-container {
		margin-bottom: 20px;
	}
	
};