@import "../../sass_config/mixin";

.main-parent {
  box-sizing: border-box;
  margin: auto;
  padding-top: 71.5px;
  width: 100vw;

  @include tablet {
    padding-top: 58.83px;
  }
}

.no-padding-top {
  padding-top: 0;
}
.padding-left-top {
  padding: 40px 0 200px 301.5px;
}
