@import "./JobListings";
@import "../../sass_config/color";

.joblisting-details-wrapper {
  @extend .joblisting-wrapper;

  .job-description {
    margin-bottom: 32px;
  }
  .overview-wrapper {
    padding: 16px 0;
    border-bottom: 1px solid $color-line;
  }
  .overview-header {
    margin-bottom: 16px;
  }
  .oubo-wrapper {
    width: 33%;
    margin: 16px auto;
    border-radius: 16px;
  }
}

.joblisting-details-wrapper-logout {
  height: 800px;
  overflow: hidden;
  position: relative;
  .joblisting-details-mask {
    height: 800px;
    // width: 600px;
    @extend .joblisting-wrapper;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    );
    position: absolute;
  }
  .round-button {
    border: 1.8px solid $color_primary;
    background: $color_primary;
    border-radius: 100px;
    padding: 0;
    height: 63px;
    width: 250px;
    margin: 0 4px;
    font-weight: 700;
    color: white;
    font-size: 16px;
    position: absolute;
    left: 170px;
    top: 700px;

    &:hover {
      background: $color_primary;
    }
  }
}
