@import "./JobListings";
@import "../../sass_config/color";

.joblisting-details-wrapper {
  @extend .joblisting-wrapper;

  .bread-list {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    font-size: 12px;
    margin: 24.5px 0 40px;

    .bread-item {
      margin-right: 4px;

      .previous-link {
        color: $color_primary;
        text-decoration: underline;
      }
    }
  }

  .job-description {
    margin-bottom: 40px;

    .job-description-header {
      margin-bottom: 12px;
      font-size: 20px;
    }
  }
  .overview-wrapper {
    padding: 24px 0;
    border-bottom: 1px solid $color-line;
  }
  .overview-header {
    font-size: 20px;
  }
  .oubo-wrapper {
    width: 33%;
    margin: 80px auto 0;
    border-radius: 16px;
    text-align: center;
  }
}
