

.top-wrapper {
  width: 1000px;
  margin: 0 auto;
}

.subscribe-wrapper {
  text-align: center;
  /* background-image: url('./photos/logo-global-developers.svg'); */
  margin-bottom: 120px;
}

.subscribe-header {
  width: 550px;
  margin: 160px auto 20px;
}

.subscribe-header2 {
  margin-bottom: 40px;
}

.tech-logos {
  width: 1000px;
}

.subscribe-buttons-top {
  width: 300px;
  margin: 0 auto 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.for-recruiter-wrapper {
  text-align: center;
}

.for-recruiter-header {
  color: #1E40F6;
}

.for-recruiter-describe-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 60px;
}

.describe-photo-content {
  width: 300px;
}

.describe-text {
  text-align: left;
  width: 50%;
}

.for-recruiter-header-container {
  margin-bottom: 30px;
}

.subscribe-buttons-buttom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 750px;
}