@import "../../sass_config/color.scss";
@import "../../sass_config/mixin.scss";

.header-container {
  height: 108px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .company-logo {
    height: 60px;
  }
  .nav-bar {
    display: flex;

    .menu {
      .menu-item {
        display: inline-block;
        list-style: none;
        padding: 12px;
      }
    }
    .round-button {
      border: 1.8px solid $color_primary;
      border-radius: 100px;
      padding: 8px 32px;
      margin: 0 4px;
      font-weight: 700;
    }
    .background-white {
      background-color: white;
      color: $color_primary;
    }
  }
}
