$color_primary: #2146f5;
$color_black: #000000;
$color_sub_text: #a0a0a0;

// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');

.main {
  margin: 0 auto;
  width: 45%;
  color: $color_black;
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;

  .title {
    margin: 36px;
    text-align: center;
    font-weight: bold;

    h2 {
      font-size: 56px;
      color: $color_primary;
    }
    
    p {
      color: $color_sub_text;
    }
  }

  table {
    width: 100%;
    margin: 20px auto;
    line-height: 94px;
  }
  .description_contents {
    text-align: left;
    
    th {
      width: 180px;
    }
    th>span {
      margin-right: 36px;
    }
    td {
      color: $color_sub_text;
      margin-right: 30px;
    }
  }
  
  .image.top {
    text-align: center;
    
  img {
    object-fit: cover;
    height: 240px;
    width: 100%;
  }
}

.profile {
  h2 {
    font-weight: bold;
    font-size: 26px;
  }
}

}

// .main-description {
  //   padding: 0 80px;
  //   display: flex;
//   flex-direction: column;
//   justify-content: center;

//   .title {
//     margin-bottom: 40px;
//   }
//   .bottom_space {
//     padding-bottom: 24px;
//   }
// }
// .image.sign {
  //   margin: 30px auto;
  //   width: 160px;
  
//   img {
//     width: 100%;
//   }
// }