.main {
	width: 100vw;
	height: 100vh;
	display: flex;

	.leftBox {
		width: 471px;
		background: #1e40f6;

		.logo {
			width: 274px;
			margin-bottom: 171px;
		}

		.remoteStack{
			width: 368px;
		}
	}

	.rightBox {
		justify-content: center;
		align-items: center;

		.title{
			margin-bottom: 32px;
		}
	}

	.input {
		width: 694px;
		height: 60px;
		margin-bottom: 12px;
	}
	.radio {
		margin: 8px 0 8px;
	}
	.buttonContainer {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		.button {
			width: 214px;
			height: 54px;
			border-radius: 30px;
		}
	}
}
