@import "../../sass_config/color.scss";
@import "../../sass_config/mixin.scss";

.main-recruiter {
	width: 100vw;
	height: 100vh;
	display: flex;

	.leftBox {
    position: fixed;
    height: 100vh;
    top: 0;
    z-index: 10000;
		width: 471px;
		background: $color_primary;
		
		.logo {
			position: relative;
			top: 40%;
			left: 20%;
			width: 274px;
			margin-bottom: 171px;
		}
		
		.remoteStack {
			position: relative;
			top: 36%;
			left: 10%;
			width: 368px;
		}

		@include mobile {
			display: none;
		}
	}

	.rightBox {
		align-items: center;
		flex-direction: column;
		margin: 28px auto;
    margin-left: 657px;

		.title {
			margin: 32px;
      margin-bottom: 5px;
		}
    .subtitle {
      margin-bottom: 32px;
    }

		.form {
			justify-content: center;
			width: 100%;

			.input {
				width: 100%;
				height: 55px;
			}
      .text-area {
				width: 100%;
				height: 55px;
        margin-bottom: 74px;
      }
			.radio {
				margin: 8px 0 8px;
			}
			.buttonContainer {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				.button {
					margin: 32px auto;
					width: 214px;
					height: 54px;
					border-radius: 30px;
					background: #1e40f6;
					color: #fff;
				}
			}

			.link-line {
				text-align: center;
				margin: 20px auto;
				
				.previousButton {
					color: #A0A0A0;
					background: #fff;
					border: none;
					cursor: pointer;
					text-decoration: underline;
				}
			}

			.thxBox {
				display: flex;
				align-items: center;
				margin: 0 auto;
				flex-direction: column;
				justify-content: center;
				text-align: center;
				padding: 15% 15% 15% 0;
		
				.thxTitle {
					color: $color_primary;
					margin-bottom: 50px;
				}
				.sentence {
					line-height: 2;
		
					@include mobile {
						text-align: left;;
					}
				}
		
				.button {
					width: 214px;
					height: 54px;
					border-radius: 30px;
					background-color: $color_primary;
					color: #fff;
					margin-top: 50px;
				}
			}
		}
	}
}
