@import "../../sass_config/color";
@import "../../sass_config/mixin";
@import "../Recruiter/Recruiter";

.main-apply {
  width: 100vw;
  height: 100vh;
  display: flex;

  .title {
    margin-bottom: 40px !important;
  }
}
.labels-wrap {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.54);
}
.link-input-label {
  margin-bottom: 4px;
}
.link-input-label-sm {
  margin-bottom: 8px;
  font-size: 12px;
}
//   .rightBox {
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//     margin: 80px auto;

//     @include mobile {
//       margin: 28px auto;
//       padding: 21px;
//       padding-top: 4px;
//     }

//     .title {
//       margin: 0 100px;
//       font-size: 28px;
//       margin-bottom: 40px;

//       text-align: center;

//       @include mobile {
//         margin: 32px 0 0 0;
//         font-size: 20px;
//       }
//     }

//     .form {
//       justify-content: center;
//       width: 100%;

//       .radio {
//         margin: 8px 0 30px;
//       }
//       .buttonContainer {
//         width: 100%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;

//         .button {
//           width: 214px;
//           height: 54px;
//           border-radius: 30px;
//           background-color: $color_primary;
//           color: #fff;
//         }

//         .previousButton {
//           color: #e5e5e5;
//           border: none;
//           outline: none;
//           background: transparent;
//           text-decoration: underline;
//           margin-top: 20px;
//           cursor: pointer;

//           &:hover {
//             color: $color_primary;
//             text-decoration: underline;
//           }
//         }
//       }
//       .spacing {
//         width: 20px;
//         height: 20px;
//       }
//       .spacing-link {
//         width: 20px;
//         height: 30px;
//       }
//       .spacing-others {
//         width: 20px;
//         height: 20px;
//       }
//       .error-message {
//         color: $warning;
//         font-size: 13px;
//         margin-bottom: 12px;
//       }
//       .firebase-err-message {
//         font-size: 15px;
//         text-align: center;
//       }
//     }
//   }
//   .thxBox {
//     display: flex;
//     align-items: center;
//     margin: 0 auto;
//     flex-direction: column;
//     justify-content: center;
//     text-align: center;
//     padding: 15%;

//     .thxTitle {
//       color: $color_primary;
//       margin-bottom: 50px;
//     }
//     .sentence {
//       line-height: 2;

//       @include mobile {
//         text-align: left;
//       }
//     }

//     .button {
//       width: 214px;
//       height: 54px;
//       border-radius: 30px;
//       background-color: $color_primary;
//       color: #fff;
//       margin-top: 50px;
//     }
//   }
// }
// .link-input-label-sm {
//   margin: 8px 0;
// }
