.confirm-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;

  .confirm-container {
    width: 600px;

    .confirm-header {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 40px;
    }
  }
}
