.footer {
  height: 300px;
  width: 100%;
  background: black;
  .footer-container {
    height: 300px;
    width: 90vw; // change later?
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu-sns-wrapper {
      height: 260px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .menu {
        margin: 12px 0;
        display: flex;
        flex-direction: column;
        .menu-item {
          font-size: 16px;
          margin-bottom: 4px;
          cursor: pointer;
          color: white;

          &:hover {
            opacity: 0.6;
          }
        }
      }
      .sns-wrapper {
        .icon {
          font-size: 28px;
          margin-right: 16px;
          cursor: pointer;

          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
    .logo-copyright-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      height: 260px;
      .company-logo-bk-wrapper {
        align-self: flex-end;
        .company-logo-bk {
          margin-bottom: 48px;
          height: 60px;
          cursor: pointer;
        }
      }
      .copy-right {
        margin-bottom: 8px;
      }
    }
  }
}
