@import "../../sass_config/color.scss";
@import "../../sass_config/mixin.scss";

.main-ForgetPassword {
  width: 100vw;
  height: 100vh;
  display: flex;

  .rightBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    @include mobile {
      width: 80%;
    }

    .title {
      margin: 32px;
    }

    .form {
      justify-content: center;
      width: 40vw;
      @include mobile {
        width: 100%;
      }

      .input {
        width: 100%;
        height: 55px;
      }
      .radio {
        margin: 8px 0 8px;
      }
      .empty-box {
        height: 24px;
        width: 200px;
      }
      .error-text {
        text-align: center;
        color: $warning;
      }
      .ForgetPassword-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 54px;

        .round-button {
          display: block;
          width: 214px;
          height: 54px;
          border-radius: 30px;
          background-color: $color_primary;
          color: #fff;
          @include mobile {
            width: 100%;
          }
        }
        .sub-button {
          display: block;
          color: #e5e5e5;
          border: none;
          outline: none;
          background: transparent;
          text-decoration: none;
          margin-top: 20px;
          cursor: pointer;

          &:hover {
            color: $color_primary;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
