@import "../../sass_config/color";
@import "../JobListings/JobBox";

.job-box-wrapper {
  position: relative;

  &:hover {
    opacity: 0.6;
  }

  .job-wrapper {
    display: flex;
    justify-content: left;
    align-items: flex-start;

    .job-img-wrapper {
      width: 208px !important;
      height: 127px !important;
      margin-right: 20px;

      .job-img {
        width: 208px !important;
        height: 127px !important;
        object-fit: cover;
      }
    }
  }
  .meatballs-menu-wrapper {
    position: absolute;
    top: 0;
    right: 0;

    .meatballs-menu {
      cursor: pointer;
      position: relative;
    }
  }
}
// .meatballs-menu-list-wrapper {
//   font-size: 14px;
//   position: absolute;
//   top: -15px;
//   right: 0;
//   box-shadow: (0px 4px 4px 0 rgba(0, 0, 0, 0.25));
//   border-radius: 8px;
//   padding: 10px 20px;
//   width: 220px;

//   & > div:last-child {
//     border-bottom: none !important;
//   }
// }
.meatballs-menu-list {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid $color-line;
  cursor: pointer;

  .list-icon {
    margin-right: 12px;
  }
}

#delete {
  color: $warning;
}

.delete-modal {
  padding: 80px 48px;
  text-align: center;
  position: relative;

  &-header {
    font-size: 28px;
    margin-bottom: 40px;
  }
  &-description {
    font-size: 20px;
    text-align: left;
    margin-bottom: 40px;
  }

  .buttons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .btn-delete {
    margin-bottom: 12px;
  }
}
