@import "../JobListings/JobListings";
@import "./PostJobListings";

.users-joblistings-wrapper {
  @extend .joblisting-wrapper;
  width: 810px !important;

  .users-joblistings-header {
    margin-bottom: 44px;
  }

  .no-result-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }
}
