@import "../../sass_config/color";

.form-wrapper {
  width: 1000px;
  margin: 60px auto;

  .form-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .joblist-form {
      width: 500px;
      text-align: center;

      .input-block {
        margin-bottom: 12px;
        text-align: left;

        .MuiFormControl-root {
          width: 100%;
        }

        .profile-photo {
          width: 100%;
        }

        .change-photo {
          display: none;
        }

        .photo-buttons {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 60%;
          margin: 16px auto 0;

          .button--photo {
            border: 1px solid $color-line;
            background: $gray;
            border-radius: 4px;
            padding: 4px 8px;
            color: white;
          }
        }

        .text-field {
          width: 100%;
        }
      }

      .save-button-wrapper {
        margin: 62px 0 24px;

        .save-button {
          border-radius: 100px;
          padding: 16px 92px;
          font-size: 16px;
        }
      }

      .cancel {
        color: $color-sub-text;
        text-decoration: underline;
        font-size: 16px;
      }
    }
  }
}
